<div id="terms">
  <h1 class="text-center">Terms & Conditions</h1> <br> <br>

  <b>Terms of Service</b>
  <p>
    The following are the terms and conditions for use of the TapGuest service described herein as (the "Service") between TapGuest.com described herein as (the Company) and You (either an individual or a legal entity that you represent as an authorized employee or agent) ("You"). Please read them carefully. BY CLICKING THE "I ACCEPT" BUTTON, COMPLETING THE REGISTRATION PROCESS AND/OR USING THE SERVICE, YOU ARE STATING THAT YOU ARE ELIGIBLE FOR AN ACCOUNT AND THAT YOU AGREE TO BE BOUND BY ALL OF THESE TERMS AND CONDITIONS OF THE SERVICE ("AGREEMENT"). The Service is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein.
  </p>

  <b>DEFINITIONS</b>
  <p>
    "Account" refers to the billing account for the Service. All Profiles linked to a single Site will have their Guest Communications aggregated prior to determining the charge for the Service for that Site.
  </p>

  <p>
    "Customer Data" means the data concerning the characteristics and activities of visitors to your establishment that is collected through use of the TapGuest Service and then forwarded to the Servers and analyzed by the Processing Software.
  </p>

  <p>
    "Documentation" means any accompanying proprietary documentation made available to You by the Service for use with the Processing Software, including any documentation available online or otherwise.
  </p>

  <p>
    "Guest Communications" is the unit of measurement for usage of the Service. A Guest Communications is used when Guest Data is entered into the TapGuest system through your TapGuest Account, and processed as part of a Guest Profile. A Guest Communications will be incurred for each stage of the TapGuest process - when a Guest is entered into your Guest List, when you notify them of the availability of their table, seat, appointment, etc for which you are using the TapGuest system, and for each automated Communication effected by the System in the course of operation, and for each Guest initiated communication with your assigned TapGuest telephone number.
  </P>

  <p>
    "Processing Software" means the proprietary TapGuest Service Software and any all upgrades to such, which analyzes the Customer Data and generates the Guest Communications and Reports.
  </p>

  <p>
    "Profile" means the collection of settings that together determine the information to be included in, or excluded from, a particular Report. For example, a Profile could be established to view a small portion of a web site as a unique Report. There can be multiple Profiles established under a single Site.
  </p>

  <p>
    "Report" means the resulting analysis shown at analytics.TapGuest.com (or such other URL the Company may provide from time to time) for an individual profile. The number of charts, graphs, and statistics contained in a Report varies with the edition of the Service.
  </p>

  <p>
    "Guest Data" means the proprietary TapGuest Site Guest Data and/or Tacking Code, which is installed on a web page for the purpose of collecting Customer Data, together with any fixes, updates and upgrades provided to you (collectively, the "Guest Data").
</p>

  <p>
    "Servers" means the servers controlled by the Company (or its wholly owned subsidiaries) upon which the Processing Software and Customer Data are stored.
  </p>

  <p>
    "Site" means a group of web pages that are linked to an Account and use the same Guest Data. Each Site consists of a default Profile that measures all pages within the Site. Additional Profiles can be established under a Site to evaluate subsections of a Site in greater detail.
  </p>

  <p>
    "Software" means the Guest Data and the TapGuest Processing Software.
  </p>

  <p>
    OUR REGISTRATION OBLIGATIONS In consideration of your use of the Service, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You also agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Service's registration form (the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or the Company has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, the Company has the right to suspend or terminate your account and refuse any and all current or future use of the Service (or any portion thereof).
  </p>

  <b>SUBSCRIPTION PERIOD</b>
  <p>
    You will be entitled to receive the TapGuest Service only during the subscription period ("Subscription Period") specified in your account level (Account Level). Monthly fee-based subscriptions will automatically renew on a month-to-month basis until cancelled by you. Each month during the Subscription Period, you will be entitled to access only the reports as provided within your TapGuest account area.
  </p>

  <b>SUBSCRIPTION FEES, MESSAGING FEES, LATE FEES AND TERMS</b>
  <p>
    You agree to pay the Company the subscription fee specified in the Billing Form during the Subscription Period ("Subscription Fee"). The Subscription Fee entitles use of the TapGuest Service monthly, for each individual business location assigned to your account for which you establish service with us. Each active Subscription location will incur Guest Communications fees, which are not included in the monthly Subscription Fee, and are billed separately based on the actual number of Guest Communications processed per month for each business location attached to your account. By using the TapGuest.com system, you agree to be responsible and you agree to pay for any and all Guest Communications fees incurred by each business location assigned to your account per month, in full, when billed to your credit card on file. For those business locations who reach or exceed 6,000 Guest Communications monthly, a schedule for high volume Guest Communications is available to best serve your needs. A valid credit card is required to be placed on file with TapGuest.com when you initially subscribe to out service and is required to be kept up to date in order to maintain access to the Service. The Subscription Fee is payable in advance for the Subscription Period, regardless of whether the Subscription Period is on an annual or a month-to-month basis. If your subscription is on a month-to-month basis, then you will automatically be charged the Subscription Fee for the subsequent month unless you cancel the Service before the month begins. Subscription Fees are non-refundable and non-transferable. Accordingly, if you elect to cancel your subscription to the Service during the Subscription Period, you will not receive a refund of the Subscription Fee(s) previously paid to the Company. If your subscription is on a month-to-month basis and your credit card is no longer valid, then, unless you provide a new valid credit card, the Company may, at it's sole discretion, suspend or terminate your TapGuest Service prior to the start of the subsequent month. In the event of account suspension or termination, you agree to be responsible for paying any and all subscription fees incurred, billed and accounted for by TapGuest upon demand, regardless of whether you re-activate your account or continue service with TapGuest. The Subscription Fee is payable in United States dollars (including, if any, all applicable taxes).
  </p>

  <p>
    The Company may charge you a late fee on a monthly basis on the combined balance of every unpaid month of service. Late fees are calculated as follows: The company will charge 1.5% of the balance outstanding for each unpaid month of service, continuous and on-going until paid in full. Late fees can and will accrue and be calculated into the total outstanding balance for each subsequent month of delinquency. Alternatively, the company reserves the right to charge a flat fee of $10 for each month of unpaid service up to and including the first 2 months, increasing to $25 beginning with the 3rd month of delinquency and continuing for each additional month that month's balance remains unpaid. If the company extends payment terms to you, either in writing or simply in practice, and you do not pay for the services granted to you by the company in accordance with those terms, the company may revoke said terms without warning, and/or require you to pay for future service by automatic credit card payments immediately upon the first day of each billing cycle. The company may also elect, at it's sole discretion, to require a security deposit to be paid to company by you, in an amount determined and set by the company. Any security deposit received from you by the company will be held as a NON-interest bearing security to be used in the event your account balance remains unpaid. Any such security deposit shall be refunded upon termination of your service with the company if and only if your account is paid in full with no remaining monies owed to the company.
  </p>


  <b>RIGHT TO CHANGE FEES AND/OR PAYMENT POLICIES</b>
  <p>
    The Company may change its fees and/or it's payment policies for the Service from time to time, including but not limited to fees charged to the Company by 3rd party vendors for the continuation of the TapGuest Service, inclusion of data in the Service's reports, or related services. The changes to the fees or payment policies are effective upon Your acceptance of such changes which will be posted at www.TapGuest.com (or such other URL the Company may provide from time to time). Unless otherwise stated, all fees are quoted in U.S. Dollars. Any outstanding balance becomes immediately due and payable upon termination of this Agreement for any reason and any collection expenses (including attorneys' fees) incurred by the Company will be included in the amount owed, and may be charged to the credit card or other billing mechanism associated with your TapGuest account.
  </p>

  <b>ANALYTICS ACCOUNT, PASSWORD, AND SECURITY</b>
  <p>
    To register for the Service, You must complete the registration process by providing the Service with current, complete and accurate information as prompted by the registration form, including Your e-mail address, billing information, username and password. You shall protect your passwords and take full responsibility for your own, and third party use of your accounts. You are solely responsible for any and all activities that occur under Your Account. You agree to notify the Service immediately upon learning of any unauthorized use of Your Account or any other breach of security. From time to time, the Company (or its wholly-owned subsidiaries') support staff may log in to the Service under Your customer account in order to maintain or improve service, including to provide You assistance with technical or billing issues. You hereby acknowledge and consent to such access, which may include your username and password.
  </p>

  <b>INDEMNIFICATION</b>
  <p>
    You agree to indemnify, hold harmless and defend the Company and its wholly owned subsidiaries, at Your expense, against any and all third-party claims, actions, proceedings, and suits brought against the Company or any of its officers, directors, employees, agents or affiliates, and all related liabilities, damages, settlements, penalties, fines, costs or expenses (including, without limitation, reasonable attorneys' fees and other litigation expenses) incurred by the Company or any of its officers, directors, employees, agents or affiliates, arising out of or relating to (i) Your breach of any term or condition of this Agreement, (ii) Your use of the Service, (iii) Your violations of applicable laws, rules or regulations in connection with the Service, or (iv) Your Brand Features. In such a case, the Company will provide You with written notice of such claim, suit or action. You shall cooperate as fully as reasonably required in the defense of any claim. The Company reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by You.
  </P>

  <b>DISCLAIMER OF WARRANTIES</b>
  <p>
    The information and services included in or available through the Service, including the Reports, may include inaccuracies or typographical errors. Changes are periodically added to the information herein. The Service and/or its respective suppliers may make improvements and/or changes in the Service or Software at any time, with or without notice. The Service does not represent or warrant that the Service will be uninterrupted or error-free, that defects will be corrected, or that the Service, the Software or any other software on the Server are free of viruses or other harmful components. The Service does not warrant or represent that the use of the Service or the Reports will be correct, accurate, timely or otherwise reliable. You specifically agree that the Service and its wholly owned subsidiaries shall not be responsible for unauthorized access to or alteration of the Customer Data or data from Your Website.
  </p>

  <p>
    THE SERVICE, THE SOFTWARE AND REPORTS ARE PROVIDED "AS IS" AND THERE ARE NO WARRANTIES, CLAIMS OR REPRESENTATIONS MADE BY TapGuest AND/OR ITS SUBSIDIARIES AND AFFILIATES, EITHER EXPRESS, IMPLIED, OR STATUTORY, WITH RESPECT TO THE SERVICE, THE SOFTWARE, THE DOCUMENTATION AND REPORTS, INCLUDING WARRANTIES OF QUALITY, PERFORMANCE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE, NOR ARE THERE ANY WARRANTIES CREATED BY COURSE OF DEALING, COURSE OF PERFORMANCE, OR TRADE USAGE. TapGuest DOES NOT WARRANT THAT THE SERVICE, THE SOFTWARE OR REPORTS WILL MEET YOUR NEEDS OR BE FREE FROM ERRORS, OR THAT THE OPERATION OF THE SERVICE WILL BE UNINTERRUPTED. THE FOREGOING EXCLUSIONS AND DISCLAIMERS ARE AN ESSENTIAL PART OF THIS AGREEMENT AND FORMED THE BASIS FOR DETERMINING THE PRICE CHARGED FOR THE SERVICE. SOME STATES DO NOT ALLOW EXCLUSION OF AN IMPLIED WARRANTY, SO THIS DISCLAIMER MAY NOT APPLY TO YOU.
  </p>

  <b>LIMITATION OF LIABILITY</b>
  <p>
    TapGuest AND ITS WHOLLY OWNED SUBSIDIARIES WILL NOT BE LIABLE TO USER OR ANY THIRD-PARTY CLAIMANT FOR ANY INDIRECT, SPECIAL, PUNITIVE, CONSEQUENTIAL (INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR LOST DATA COLLECTED THROUGH THE SERVICE), OR INCIDENTAL DAMAGES, WHETHER BASED ON A CLAIM OR ACTION OF CONTRACT, WARRANTY, NEGLIGENCE, STRICT LIABILITY, OR OTHER TORT, BREACH OF ANY STATUTORY DUTY, INDEMNITY OR CONTRIBUTION, OR OTHERWISE, EVEN IF TapGuest AND/OR ITS SUBSIDIARIES AND AFFILIATES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE EXCLUSION CONTAINED IN THIS PARAGRAPH SHALL APPLY REGARDLESS OF THE FAILURE OF THE EXCLUSIVE REMEDY PROVIDED IN THE FOLLOWING PARAGRAPH. SOME STATES DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE LIMITATIONS OR EXCLUSIONS IN THIS AND THE FOREGOING PARAGRAPH MAY NOT APPLY TO YOU.
  </p>

  <p>
    TapGuest's (and its wholly owned subsidiaries') total cumulative liability to You or any other party for any loss or damages resulting from any claims, demands, or actions arising out of or relating to this Agreement shall not exceed U.S. $250.
  </p>

  <b>PROPRIETARY RIGHTS NOTICE</b>
  <p>
    The Service, which includes but is not limited to the Guest Data and the TapGuest Software and all intellectual property rights in the Service are, and shall remain, the property of TapGuest, (and its wholly owned subsidiaries). All rights in and to the Processing Software not expressly granted to You in this Agreement are hereby expressly reserved and retained by the Company and its licensors without restriction, including, without limitation, the Company (and its wholly owned subsidiaries') right to sole ownership of the Company Software and Documentation. Without limiting the generality of the foregoing, You agree not to (and to not allow any third party to): (a) sublicense, distribute, or use the Service outside of the scope of the License granted herein; (b) copy, modify, adapt, translate, prepare derivative works from, reverse engineer, disassemble, or decompile the Processing Software or otherwise attempt to discover any source code or trade secrets related to the Service; (c) use the trademarks, trade names, service marks, logos, domain names and other distinctive brand features or any copyright or other proprietary rights associated with the Service for any purpose without the express written consent of the Company; (d) register, attempt to register, or assist anyone else to register any trademark, trade name, serve marks, logos, domain names and other distinctive brand features, copyright or other proprietary rights associated with the Company (or its wholly owned subsidiaries) other than in the name of the Company (or its wholly owned subsidiaries, as the case may be); or (e) remove, obscure, or alter any notice of copyright, trademark, or other proprietary right appearing in or on any item included with the Service.
  </p>

  <b>TERM and TERMINATION</b>
  <p>
    Either party to the Agreement may terminate it at any time and for any reason.
  </p>

  <p>
    Upon any termination or expiration of this Agreement, the Company will cease providing the Service, and You will delete all copies of the TapGuest, Guest Data from all Pages and certify thereto in writing to the Company within three (3) business days of such termination. In the event of any termination (a) You will not be entitled to any refunds of any usage fees or any other fees, and (b) any (i) outstanding balance for Service rendered through the date of termination, and (ii) other unpaid payment obligations during the remainder of the Initial Term will be immediately due and payable in full and (c) all of Your historical report data will no longer be available to You unless a purchase or professional services agreement for the exchange and transfer of such data is entered into as a component of termination.
  </p>

  <b>INFORMATION RIGHTS AND PUBLICITY</b>
  <p>
    TapGuest and its wholly owned subsidiaries may retain and use, subject to the terms of its Privacy Policy (located at http://www.TapGuest.com/privacy, or such other URL as The Company may provide from time to time), information collected in Your use of the Service. The Company will not share personally identifiable information associated with You or your Site with any third parties unless the Company and the Service (i) has Your consent; (ii) concludes that it is required by law or has a good faith belief that access, preservation or disclosure of such information is reasonably necessary to protect the rights, property or safety of the Company, the Service, its users, or the public; or (iii) provides such information in certain limited circumstances to third parties to carry out tasks on behalf of the Service (e.g., billing or data storage) with strict restrictions that prevent the data from being used or shared except as directed by the Service. When this is done, it is subject to agreements that oblige those parties to process such information only on the instructions of the Company and in compliance with this Agreement and appropriate confidentiality and security measures.
  </p>


  <b>MODIFICATIONS TO TERMS OF SERVICE AND OTHER POLICIES</b>
  <p>
    The Company reserves the right to change or modify any of the terms and conditions contained in this Agreement or any policy governing the Service, at any time, by posting the new agreement to the site located at www.TapGuest,.com (or such other URL as the Company may provide). You are responsible for regularly reviewing the policy. No amendment to or modification of this Agreement will be binding unless (i) in writing and signed by a duly authorized representative of the Company (ii) You accept updated terms online, or (iii) You continue to use the Service after the Company has posted updates to the Agreement or to any policy governing the Service.
  </p>

  <b>PRIVACY</b>
  <p>
    You will not (and will not allow any third party to) use the Service to track or collect personally identifiable information of Internet users, nor will You (or will You allow any third party to) associate any data gathered from Your website(s) (or such third parties' website(s)) with any personally identifying information from any source as part of Your use (or such third parties' use) of the Service. You will have and abide by an appropriate privacy policy and will comply with all applicable laws relating to the collection of information from visitors to Your websites. You must post a privacy policy and that policy must provide notice of your use of a cookie that collects anonymous traffic data.
  </p>

  <b>THIRD PARTIES</b>
  <p>
    If You provide access to Your Account or any portion thereof to any third party or use the Service to collect information on behalf of any third party ("Third Party"), whether or not You are authorized to do so by the Company or its wholly owned subsidiaries, the terms of this Section 14 shall apply to You.
  </p>

  <p>
    If You use the Service on behalf of any Third Party, You represent and warrant that (a) You are authorized to act on behalf of, and bind to this Agreement, that Third Party, (b) as between the Third Party and You, the Third Party owns any rights to Customer Data in the applicable account, and (c) You shall not disclose Third Party's Customer Data to any other party without the Third Party's consent.
  </p>

  <p>
    You shall ensure that each Third Party is bound by and abides by the terms of this Agreement. The Company and its wholly owned subsidiaries make no representations or warranties for the direct or indirect benefit of any Third Party. With respect to Third Parties, You shall take all measures necessary to disclaim any and all representations or warranties that may pertain to the Company and its wholly owned subsidiaries, the Service, the Software or the Reports, or use thereof. You agree to indemnify, hold harmless and defend TapGuest, and its wholly owned subsidiaries, at Your expense, against any and all third-party claims, actions, proceedings, and suits brought against TapGuest, or any of its officers, directors, employees, agents or affiliates, and all related liabilities, damages, settlements, penalties, fines, costs or expenses (including, without limitation, reasonable attorneys' fees and other litigation expenses) incurred by TapGuest, or any of its officers, directors, employees, agents or affiliates, arising out of or relating to (a) any representations and warranties made by You concerning any aspect of the Service, the Software or Reports to Third Parties; (b) any claims made by or on behalf of any Third Party pertaining directly or indirectly to Your use of the Service, the Software or Reports; (c) violations of Your obligations of privacy to any Third Party; and (d) any claims with respect to acts or omissions of Third Parties in connection with the Services, the Software or Reports.
  </p>

  <b>U.S. GOVERNMENT RIGHTS</b>
  <p>
    If the use of the Service is being acquired by or on behalf of the U.S. Government or by a U.S. Government prime contractor or subcontractor (at any tier), in accordance with 48 C.F.R. 227.7202-4 (for Department of Defense (DOD) acquisitions) and 48 C.F.R. 2.101 and 12.212 (for non-DOD acquisitions), the Government's rights in the Software, including its rights to use, modify, reproduce, release, perform, display or disclose the Software or Documentation, will be subject in all respects to the commercial license rights and restrictions provided in this Agreement.
  </p>

  <b>NO RESALE OR REDISTRIBUTION OF SERVICE</b>
  <p>
    You agree not to reproduce, reverse engineer, clone, distribute, provide unauthorized access to, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of the Service use of the Service, or access to the Service without prior written permission from the Company.
  </p>

  <b>NONEXCLUSIVE LICENSE</b>
  <p>
    The Company hereby grants You a limited, revocable, non-exclusive, non-sub-licensable license to install, copy and use the Guest Data solely as necessary to use the Service for one or more web pages that You own and control (collectively, the "Website"). Subject to the terms and conditions of this Agreement, You may remotely access, view and download Your Reports stored at http://www.tapguest.com (or such other URL the Company may provide from time to time). Your license of, use of and access to the Software and the Service (which may include, without limitation, the Software, Documentation and the Reports) is conditioned upon Your compliance with the terms and conditions of the Agreement, including the following:
  </p>

  <p>
    You will not nor will You allow any third party to (i) copy, modify, adapt, translate or otherwise create derivative works of the Software or the Documentation; (ii) reverse engineer, de-compile, disassemble or otherwise attempt to discover the source code of the Software, except as expressly permitted by the law in effect in the jurisdiction in which You are located; (iii) rent, lease, sell, assign or otherwise transfer rights in or to the Guest Data, the Processing Software, the Documentation or the Service; (iv) remove any proprietary notices or labels on the Software or placed by the Service; or (v) use, post, transmit or introduce any device, software or routine which interferes or attempts to interfere with the operation of the Service or the Software. You will use the Software, Service and Reports solely for Your own internal use, and will not make the Software or Service available for timesharing, application service provider or service bureau use. You will comply with all applicable laws and regulations in Your use of and access to the Documentation, Software, Service and Reports.
  </p>

  <p>
    This license will terminate immediately if You fail to comply with the terms of this Agreement. Upon such termination, You must destroy all originals and copies of the SNIPPET in Your possession and so certify in writing to the Company within three (3) business days of termination and cease any further use of the Service without the express written consent of the Company.
  </p>

  <b>CONFIDENTIALITY</b>
  <p>
    "Confidential Information" includes any proprietary data and any other information disclosed by one party to the other in writing and marked "confidential" or disclosed orally and, within five business days, reduced to writing and marked "confidential". Notwithstanding the foregoing, Confidential Information will not include any information that is or becomes known to the general public, which is already in the receiving party's possession prior to disclosure by a party or which is independently developed by the receiving party without the use of Confidential Information. Neither party will use or disclose the other party's Confidential Information without the other's prior written consent except for the purpose of performing its obligations under this Agreement or if required by law, regulation or court order. In which case, the party being compelled to disclose Confidential Information will give the other party as much notice as is reasonably practicable prior to disclosing such information. Upon termination of this Agreement, the parties will promptly either return or destroy all Confidential Information and, upon request, provide written certification of such. You are responsible for safeguarding the confidentiality of Your password(s) and user name(s) issued to You by the Company, and for any use or misuse of Your account resulting from any third party using a password or user name issued to You. You agree to immediately notify the Company of any unauthorized use of Your account or any other breach of security known to You.
  </p>

  <b>TapGuest MEMBER CONDUCT</b>
  <p>
    In consideration of your use of the Service, you agree to provide honest opinions and answers to any surveys or polls you participate in. The Company maintains the right to terminate access to the Service if it deems you are in breach of this behavior.
  </p>

  <p>
    When posting comments, opinions, site feedback or other information ("Content") to the Service, you acknowledge that the Company may or may not pre-screen Content, but that the Company and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, or move any Content that is available via the Service. Without limiting the foregoing, the Company and its designees shall have the right to remove any Content that violates the TOS or is otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge that you may not rely on any Content created by the Service or submitted to the Service, including without limitation, information in TapGuest, Website, TapGuest, Accounts area, the TapGuest, Blog, Forums and/or Messaging systems, Message Boards and in all other parts of the Service.
  </p>

  <p>
    You acknowledge, consent and agree that the Company may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce the TOS; (c) respond to claims that any Content violates the rights of third parties; (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of the Company, its users and the public.
  </p>

  <b>INTERSTATE NATURE OF COMMUNICATIONS ON THE TapGuest NETWORK</b>
  <p>
    When you register with TapGuest, you acknowledge that in using TapGuest services to send electronic communications (including but not limited to sending messages to and from your TapGuest assigned telephone number and the TapGuest network, the TapGuest Blog or TapGuest feedback forums, uploading photos and files to the Service, and other Internet activities), you will be causing communications to be sent through the TapGuest, computer network located in the United States, and potentially other locations throughout the world. As a result, and also as a result of the TapGuest, network architecture and business practices and the nature of electronic communications, even communications that seem to be intrastate in nature can result in the transmission of interstate communications regardless of where you are physically located at the time of transmission. Accordingly, by agreeing to the TOS, you acknowledge that use of the service results in interstate data transmissions.
  </p>

  <b>SPECIAL ADMONITIONS FOR INTERNATIONAL USE</b>
  <p>
    Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside. TapGuest, cannot and will not be liable for any loss or damage arising from your failure to comply with this Section 21.
  </p>

  <b>CONTENT SUBMITTED OR MADE AVAILABLE FOR INCLUSION ON THE SERVICE</b>
  <p>
    The Company does not claim ownership of Content you submit or make available for inclusion on the Service. However, with respect to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant the Company the perpetual, worldwide, royalty-free, irrevocable and fully sub-licensable license to use, aggregate, sell (non personally identifiable service data only), distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed. "Publicly accessible" areas of the Service are those areas of the Service of properties that are intended by the Company to be available to the general public. By way of example, publicly accessible areas of the Service would include the TapGuest, website, the TapGuest, Blog, the TapGuest, public reports, message boards and site review forums.
  </p>

  <b>DEALINGS WITH ADVERTISERS</b>
  <p>
    Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. You agree that the Company shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Service.
  </p>

  <b>LINKS</b>
  <p>
    The Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because the Company and the Service has no control over such sites and resources, you acknowledge and agree that the Service is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that the Service shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
  </p>

  <b>SOCIAL MEDIA ACCOUNT INTEGRATION</b>
  <p>
    The Service may provide integration points to Facebook, Twitter and other Social Media Service Accounts that you own and or control. By completing the Integration, Approval and authorization process, you acknowledge and agree that TapGuest and the Company has been granted your express permission to access, modify, post, and otherwise interact with your account information and contents. Further, you acknowledge and agree that the Company and the TapGuest Service has no control over such sites and resources, and you acknowledge and agree that the Service is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that the Service shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
  </p>

  <b>EXCLUSIONS AND LIMITATIONS</b>
  <p>
    SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS OF SECTIONS 7 AND 8 MAY NOT APPLY TO YOU.
  </p>

  <b>NOTICE</b>
  <p>
    The Company may provide you with notices, including those regarding changes to the TOS, by e-mail, text message and/or in-app push notifications or other such methods on the Service.
  </p>

  <b>TRADEMARK INFORMATION</b>
  <p>
    TapGuest.com, TapGuest, and "Waiting Made Easy" are trademarks and service marks and other property of the Company and its affiliates' logos and product and service names are trademarks of TapGuest, or its affiliates, as applicable.
  </p>

  <b>GENERAL INFORMATION</b>
  <p>
    Entire Agreement. The TOS constitutes the entire agreement between you and the Company and governs your use of the Service, superseding any prior agreements between you and the Company with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use other TapGuest, services.
  </p>

  <p>
    Choice of Law and Forum. The TOS and the relationship between you and TapGuest, shall be governed by the laws of the State of California without regard to its conflict of law provisions. You and TapGuest, agree to submit to the personal and exclusive jurisdiction of the courts located within the county of San Diego, California.
  </p>

  <p>
    Waiver and Severability of Terms. The failure of TapGuest, to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect.
  </p>

  <p>
    Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the TOS must be filed within one (1) year after such claim or cause of action arose or be forever barred.
  </p>

  <p>
    The section titles in the TOS are for convenience only and have no legal or contractual effect.
  </p>

  <b>MISCELLANEOUS; APPLICABLE LAW AND VENUE</b>
  <p>
    The Company shall be excused from performance hereunder to the extent that performance is prevented, delayed or obstructed by causes beyond its reasonable control. This Agreement (including any amendment agreed upon by the parties in writing) represents the complete agreement between us concerning its subject matter, and supersedes all prior agreements and representations between the parties. If any provision of this Agreement is held to be unenforceable for any reason, such provision shall be reformed to the extent necessary to make it enforceable to the maximum extent permissible so as to affect the intent of the parties, and the remainder of this Agreement shall continue in full force and effect. This Agreement shall be governed by and construed under the laws of the state of California without reference to its conflict of law principles. In the event of any conflicts between foreign law, rules, and regulations, and California law, rules, and regulations, California law, rules and regulations shall prevail and govern. Each party agrees to submit to the exclusive and personal jurisdiction of the courts located in San Diego County, CA. The United Nations Convention on Contracts for the International Sale of Goods and the Uniform Computer Information Transactions Act shall not apply to this Agreement. The Software is controlled by U.S. Export Regulations, and it may be not be exported to or used by embargoed countries or individuals. Any notices to TapGuest, must be sent to: TapGuest.com c/o P.O. Box 950 Poway, CA, 92074, USA, with a copy to Legal Department, via first class or air mail or overnight courier, and are deemed given upon receipt. A waiver of any default is not a waiver of any subsequent default. You may not assign or otherwise transfer any of Your rights hereunder without TapGuest, prior written consent, and any such attempt is void. The relationship between TapGuest, and You is not one of a legal partnership relationship, but is one of independent contractors. This Agreement shall be binding upon and inure to the benefit of the respective successors and assigns of the parties hereto. The following sections of this Agreement will survive any termination thereof: 1, 6, 7, 8, 9, 10, 11 (except the last two sentences), 13, 14, 17, 18, and 29.
  </p>
</div>

<div id="back-link" class="text-center">
  <%= link_to 'Back', :back %>
</div>
