<script src="https://checkout.stripe.com/checkout.js"></script>
<button id="customButton" class="stripe-button-el" data-toggle="modal" data-target="#free-plan-modal" data-backdrop="static" data-keyboard="false">
    <span style="display: block; min-height: 30px;">Subscribe</span>
</button>
