<%= form_tag(create_plan_path, { method: :post }) do %>
  <input name="plan_id" type="hidden" value="gold_plan"></input>
  <div id="error_explanation">
   <% if flash[:error].present? %>
     <p><%= flash[:error] %></p>
   <% end %>
 </div>
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="11900"
    data-name="TapGuest"
    data-label="Subscribe"
    data-description="Gold Plan"
    data-billing-address="true"
    data-locale="auto">
  </script>
<% end %>
