<div class="center-block text-center">
  <%= image_tag('TGlogo1.png', class: 'img-responsive tg-logo') %> <br>

  <div id="plan-caption">
    <h2>TapGuest Monthly Pricing</h2>

    <p>
      Pricing shown is in US Dollars and applicable <u>per location</u> in the USA and Canada. All pricing is subject to change at any time, without notice.
    </p>
  </div>

    <div id="plan-includes">
      <h3 class="text-center">Each TapGuest Plan Includes:</h3>

      <div class="row">
        <div class="col-xs-4">
          <ul>
            <li>A Dedicated TapGuest Number</li>
            <li>Text & Voice Notifications</li>
            <li>Integrated EZ Reservation Book with Confirmations & Reminders</li>
          </ul>
        </div>

        <div class="col-xs-4">
          <ul>
            <li>Automated Virtual Host&trade; Technology</li>
            <li>Table Turn Tracking</li>
            <li>Self Service SMS Functions</li>
          </ul>
        </div>

        <div class="col-xs-4">
          <ul>
            <li>Offline Access to Current List</li>
            <li>Live Sync Up to 5 iPads</li>
            <li>Free Live Support</li>
          </ul>
        </div>
      </div>
    </div> <br>

    <div class="plan-group">
      <div class="row">
        <div class="plan-box">
          <div class="col-xs-4">
            <div class="box box-widget widget-user">
              <i class="fa fa-gift fa-2x circle-icon"></i>

              <h3>Free</h3>

              <div class="plan-box-footer">
                <font size="3">
                  <p>
                    <b>Free Plan</b> <br>
                    25 parties per month
                  </p>
                </font>
              </div>
            </div>
          </div>
        </div>

        <div class="plan-box">
          <div class="col-xs-4">
            <div class="box box-widget widget-user">
              <i class="fa fa-user fa-2x circle-icon"></i>

              <h3>Silver</h3>
              <div class="plan-box-footer">
                <font size="3">
                  <p>
                    <b>$69</b> Per Month <br>
                    500 Parties Per Month
                  </p>
                </font>
              </div>
            </div>
          </div>
        </div>

        <div class="plan-box">
          <div class="col-xs-4">
            <div class="box box-widget widget-user">
              <i class="fa fa-group fa-2x circle-icon"></i>

              <h3>Gold</h3>

              <div class="plan-box-footer">
                <font size="3">
                  <p>
                    <b>$119</b> Per Month <br>
                    1200 parties per month
                  </p>
                </font>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="plan-group">
      <div class="row">
        <div class="col-xs-2"></div>

        <div class="plan-box">
          <div class="col-xs-4">
            <div class="box box-widget widget-user">
              <i class="fa fa-trophy fa-2x circle-icon"></i>

              <h3>Platinum</h3>

              <div class="plan-box-footer">
                <font size="3">
                  <p>
                    <b>$149</b> Per Month <br>
                    2000 parties per month
                  </p>
                </font>
              </div>
            </div>
          </div>
        </div>

        <div class="plan-box">
          <div class="col-xs-4">
            <div class="box box-widget widget-user">
              <i class="fa fa-globe fa-2x circle-icon"></i>

              <h3>Unlimited</h3>

              <div class="plan-box-footer">
                <font size="3">
                  <p>
                    <b>$199</b> Per Month <br>
                    Unlimited parties per month
                  </p>
                </font>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>
